<div class="row mt-1">
  <div class="col-xs-7">
    {{input type="text" value=query class="form-control" placeholder="Search species..." autocomplete="off"}}
  </div>
  <div class="col-xs-5">
    {{link-to "Back" "garden" class="btn btn-primary float-xs-right"}}
  </div>
</div>

{{#if filteredCount}}
  <p>
    Showing {{localFilteredCount}} to {{filteredCount}} of {{totalCount}} species
  </p>
{{/if}}

<ul class="list-group">
  {{#each sorted as |species|}}
    <li class="list-group-item" {{action 'showSpecies' species}} role="button">
      <div class="row">
        <div class="col-xs-5">
          {{species.name}}
        </div>

        <div class="col-xs-5">
          <span class="text-muted">Genus: </span>
          {{species.genus.name}}
        </div>

        <div class="col-xs-2">
          {{#if species.hasPlants}}
            {{species.plantCount}} {{pluralize species.plantCount 'plant' 'plants'}}
          {{/if}}
        </div>
      </div>
    </li>
  {{/each}}
</ul>
