I'm a plant!

<div>Genus: {{model.species.genus.name}}</div>
<div>Species: {{model.species.name}}</div>

<div class="thumbnails">
  {{#each model.photos as |photo|}}
    <span class="img-thumbnail">
      <img src="{{photo.thumbUrl}}" {{action 'showPhoto' photo}}>
    </span>
  {{/each}}

  <span class="img-thumbnail">
    <div class="add-photo" {{action 'addPhoto'}}>+</div>
  </span>
</div>
