<div class="mt-1">
  <div>Genus: {{humanize model.species.genus.name}}</div>
  <div>Species: {{humanize model.species.name}}</div>

  <div class="thumbnails mb-1">
    {{#each model.photos as |photo|}}
      <span class="img-thumbnail">
        <img src="{{photo.thumbUrl}}" {{action 'showPhoto' photo}}>
      </span>
    {{/each}}

    <span class="img-thumbnail">
      <div class="add-photo" {{action 'addPhoto'}} title="Add new photo">+</div>
    </span>
  </div>

  <button type="button" class="btn btn-primary" {{action 'showSpecies'}}>Back to species</button>
</div>
